@media screen and (max-width: 1140px) {
    .input{
        display: flex;
        flex-direction: column;
    }
    .btn-submit{
        width: 300px;
        margin-top: 30px;
    }
    .footer__form input{
        margin-right: 0px; 
    }
    input[type=checkbox] {
        margin-right: 18px;
    }
}
@media screen and (max-width: 920px){
    .header__menu{
        display: none;
        position: absolute;
        z-index: 2;
        width: 111px;
        right: 0px;
        top: 45px;
        font-size: 20px;
        background-color: rgb(17, 1, 1,0.85);
        padding: 55px 5px 5px 15px;
    }
    .menu-close {
        display: block;
        position: absolute;
        top: 0px;
        right: 15px;
        background: none;
        border: none;
        font-size: 28px;
        font-weight: 700;
        color: #fff;
    }
    .header__menu-btn{
        display: block;
    }
    .header__menu li {
		padding-bottom: 10px;
	}
    .footer__inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__offer{
        margin: 83px 0 0 0;
        text-align: center;
    }
    .footer__form{
        margin-right: 0;
    }
}
@media screen and (max-width: 570px){
    html{
        font-size: 14px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 20px;
    }
    .header__call span{
        font-size: 18px;
    }
    .card__item{
        margin-right: 0;
    }
    .footer__offer p{
        font-size: 24px;
    }
    .footer__form p{
        font-size: 14px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 550px){
    .btn-up {
        top: 4px;
    }
}
@media screen and (max-width: 500px){
    .item__inner__title{
        margin-right: 5px;
    }
    .card__sort__title {
        padding-right: 8px;
    }
    .footer__offer p{
        font-size: 20px;
    }
    h1{
        font-size: 28px;
    }
    .checkbox p{
        font-size: 12px;
    }
}
@media screen and (max-width: 452px){
    
    .header__call p{
        display: none;
    }
    .header__call img{
        display: block;
    }
    .header__call{
        padding-top: 0;
    }
}

@media screen and (max-width: 390px){
    .footer__form input{
        width: 100%;   
    }
    input[type=checkbox] {
        width: 18px;
    }
    .btn-submit{
        width: 250px;
        margin-top: 30px;
    }  
    .card__item__description{
        padding-left: 19px;
    }
    .character{
        padding: 24px 20px 26px 0;
        font-size: 11px;
        
    }
    .character span{
        font-size: 14px;
    }
}